article {
    padding: 5px 20px;
    margin: 0 0 10px;
    background-color: #424242;
    border-radius: 5px;
}
div:first-child {
    padding-bottom: 10px;
}
.line {
    min-height: 1px;
    width: 100%;
    background-color: #303030;
    border-top: 1px solid white;
}